.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #000;

  .innerContainer {
    width: 24.5rem;
    max-width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #1A1A1A;
  }
}
