@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-size: clamp(14px, calc(10px + 1vw), 2vh);
  /* Uncomment below to disable responsive design */
  /* font-size: 14px; */
}

body {
  overscroll-behavior-y: none;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.22rem;
  font-weight: 500;

  color: #FFF;
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  width: 100vw;
  height: 100vh;
}

hr {
  border-color: #24252C;
}
