@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.22;
  font-weight: 500;

  color: #FFF;
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
